# file
*.h5ad
*.h5
*.fq
*.pyc
*.pth
*.zip
*.csv
*.txt
*.rds
*.pickle
*.pkl
*.RData
*.Rhistory
*.pdf
*.pt
*.tar
*.dill
*.log
*.arrow
*Weights
*.sqlite
*.svg
*.png
*.gz
*.whl
*.html
*.DS_Store

# folder
**/conda/
**/.cache/
**/.nv/
**/.ipython/
**/tensorboard/
**/tmp/
**/__pycache__/
.ipynb_checkpoints/
.virtual_documents/
resource/*
data/*
case/spots

# exclude
!data/README.md
!data/Stereo_process.ipynb
!resource/README.md